@font-face {
  font-family: 'Panchang-Extralight';
  src: url('./../../public/typographies/Panchang_Complete/Fonts/WEB') format('woff2'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Extralight.woff') format('woff'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Light';
  src: url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Light.woff2') format('woff2'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Light.woff') format('woff'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Regular';
  src: url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Regular.woff2') format('woff2'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Regular.woff') format('woff'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Panchang-Medium';
  src: url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Medium.woff2') format('woff2'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Medium.woff') format('woff'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Panchang-Semibold';
  src: url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Semibold.woff2') format('woff2'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Semibold.woff') format('woff'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Panchang-Bold';
  src: url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Bold.woff2') format('woff2'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Bold.woff') format('woff'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Panchang-Extrabold';
  src: url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Extrabold.woff2') format('woff2'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Extrabold.woff') format('woff'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 800.0;
*
* available axes:
'wght' (range from 200.0 to 800.0
*/
@font-face {
  font-family: 'Panchang-Variable';
  src: url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Variable.woff2') format('woff2'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Variable.woff') format('woff'),
    url('./../../public/typographies/Panchang_Complete/Fonts/WEB/fonts/Panchang-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}